@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

* {
    font-family: "Quicksand", sans-serif;
}
.range-sm::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00ADEF;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px #000000EB;
}
.play-audio .inner-button-play .inner-icon-pause {
    display: none;
}
.play-audio .inner-button-play.play .inner-icon-pause {
    display: block;
}
.play-audio .inner-button-play.play .inner-icon-play {
    display: none;
}